<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have a degree in Computer Software Engineering from the University of Miami in Coral Gables, FL. Getting this degree gave me a solid background on Object Oriented Programming, Algorithms, Software Architecture, Embedded Systems, Relational Databases, and some more fun things like Machine Learning and Artificial Intelliegence. 
        <p>
           Ive always had a passion for building things. Back in middle school I made a Hovercraft that could withstand 50lbs! Theses days I have turned my focus from hands on work to software. For my senior project I built an iOS application that motivates people to lose weight by sending out an embarrsing picture of them if they dont meet their goal!
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Built a website on my own for a team researhcing the effects of different air particles on Dry Eye Syndrome. You can view the website <a href="http://precise.ccs.miami.edu/stemp/sindex.php">here</a>
    			</li>
          <li>
            Wrote my research paper that surveys current architecutures for Interet of Things as related to the sports intdusty and proposed my own Architectural Framework for an IoT-based System for Sport Management and Fan Interaction. You can read my paper <a href="https://drive.google.com/file/d/1p_gTgG5Pa-DaWAs02wgzQ9P_KzrAsNzA/view">here</a> 
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
