<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have a degree in Computer Software Engineering from the University of Miami in Coral Gables, FL. Getting this degree gave me a solid background on Object Oriented Programming, Algorithms, Software Architecture, Embedded Systems, Relational Databases, Networks and some more fun things like Machine Learning and Artificial Intelliegence. 
        <p>
           Ive always had a passion for building things. Back in middle school I made a Hovercraft that could withstand 50lbs! Theses days I have turned my focus from hands on work to software. Besides that Ive always had a love for math, in high school I was the top scorer for Math League, and I now use my math and love for sports to win at fantasy football!
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Built a website on my own for a team researhcing the effects of different air particles on Dry Eye Syndrome. You can view the website <a href="http://precise.ccs.miami.edu/stemp/sindex.php">here</a>
    			</li>
          <li>
            Wrote my research paper that surveys current architecutures for Interet of Things as related to the sports intdusty and proposed my own Architectural Framework for an IoT-based System for Sport Management and Fan Interaction. You can read my paper <a href="https://drive.google.com/file/d/1p_gTgG5Pa-DaWAs02wgzQ9P_KzrAsNzA/view">here</a> 
          <li>
            For my senior project I built an iOS application that motivates people to lose weight by sending out an embarrsing picture of them if they dont meet their goal!
		    </ul>
	    </div>
    </div>
  </div>
</section>
