<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				  <b>Investing</b>. I've been an interested in personal finance since I was a teenager - I like to research companies and have invested in stocks and mutual funds.
			  </li>
			  <li>
				  <b>Being Outside</b>. I live on the Jersey shore, home of some of the greatest beaches in the country. I enjoy spending weekends on the beach and
          in the ocean. When I'm not at the beach I enjoy playing disc golf and basketball.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Awning is an app that for music therapy. I helped impleiment the apple watch app that detects heart beat and records when the users heartbeat is more than 10% of their resting heart beat.
    		</li>
  			<li>
          At a hackathon I made a chatbot using IBM Watson that acts as a waiter.
  			</li>
        <li>
          Building this website!
        </li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Raising money for the NJ Special Olympics by particpating in the Polar Bear Plunge
  			</li>
  			<li>
  			  Commissioner of my Fantasy Football League since 2010 
  			</li>
        <li>
          Reached rank of Life Scout in Boy Scouts 
        </li>
		   </ul>
      </div>
    </div>
  </div>
</section>
